@{ ViewData["Title"] = "Index"; }

@*-------- Page level CSS -------------*@
<link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" rel="stylesheet">
<style>
    .fullScreen {
        /*transform: scale(0.2) translateY(-150vh);*/
        transform: translateY(-100vh);
    }

    #news td {
        padding-bottom: 4px;
    }

    .wikipedia th {
        font-size: 1.5rem;
    }

    .wikipedia td {
        font-size: 1.5rem;
    }
</style>

@*------------- Scripts, APIS and helper methods ----------------*@
<script src="~/js/CounterDisplay.js"></script>
<script src="~/js/HackerNews.js"></script>
<script src="~/js/WikipediaAPI.js"></script>
<script src="~/js/NewsAPI.js"></script>
<script src="~/js/Salary.js"></script>
<script src="~/js/AccuWeatherAPI.js"></script>
<script src="~/js/newsGenerator.js"></script>

<div onclick="CanvasClick()" id="canContainer">
    <canvas id="can" style="opacity: 1" tabindex=0></canvas>
</div>

<div class="container">
    @*--------------- Wikipedia ------------------*@
    <div class="blade" style="margin-top: 0;">
        <div class="wikipedia">
            @*<h2 style="color: white">Wikipedia</h2>*@
            <table id="wikipedia">
            </table>
        </div>
    </div>

   @*------------------ Salary and pay -------------------------*@
    <div class="main" style="margin-top: 64px">
        <table>
            <tr>
                <th onclick="CanvasClick()">Today</th>
                <th onclick="CanvasClick()">Week</th>
                <th onclick="CanvasClick()">Paycycle</th>
                <th onclick="wip()">Month</th>
                <th onclick="wip()">Total</th>
            </tr>
            <tr id="standard">
                <td onclick="CanvasClick()"></td>
                <td onclick="CanvasClick()"></td>
                <td onclick="CanvasClick()"></td>
                <td onclick="wip()"></td>
                <td onclick="wip()"></td>
            </tr>
            <tr>
                <td>
                    <div class="earnChecks" style="z-index: 5">
                        <div>
                            <label for="tax">Tax</label>
                            <input type="checkbox" id="tax" onchange="earn()" Checked />
                        </div>
                        <div>
                            <label for="super" style="padding-left: 16px">Super</label>
                            <input type="checkbox" id="super" onchange="earn()" Checked />
                        </div>
                    </div>
                <td>
            </tr>
        </table>
        @*-------------------------- WEATHER --------------------------------*@
        <div class="weather" style="margin-top: 32px">
            @*<h2 style="color: white">Forecast</h2>*@
            <table>
                <tr id="weather"></tr>
                <tr id="temp"></tr>
                <tr id="rain"></tr>
            </table>
        </div>
    </div>
    @*------------------- Hacker News Table ------------------*@
    <div class="blade">
        <div class="wikipedia">
            <h2 style="color: white">Hacker News</h2>
            <div style="overflow-x: scroll;overflow-x: hidden;">
                <table id="news">
                </table>
            </div>
        </div>
    </div>
</div>

@*---------------- Page Level JavaScript-----------------*@
<script>
    var interval;
    var running = false;
    function CanvasClick() {
        var can = document.getElementById('can');
        //can.style.opacity == 0 ? can.style.opacity = 1 : can.style.opacity = 0;
        //can.style.display == "" ? can.style.display = "none" : can.style.display = "";
        if (!can.classList.contains("fullScreen")) {
            can.classList.add("fullScreen");
        } else {
            can.classList.remove("fullScreen");
        }
        startEarning();
    }

    function startEarning() {
        if (!running) {
            earn();
            getRequest(api_dict.twelve_hour);
            getWikiRequest();
            getNewsRequest();
            //newsAPI();
            GoodNewsMeme();
            running = true;
        }
    }
</script>