@{
    ViewData["Title"] = "Index";
}

@*-------- Page level CSS -------------*@
<link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400&display=swap" rel="stylesheet">
<style>
    .fullScreen {
        /*transform: scale(0.2) translateY(-150vh);*/
        transform: translateY(100vh);
    }

    #news td {
        padding-bottom: 4px;
    }
</style>

@*------------- Scripts, APIS and helper methods ----------------*@
<script src="~/js/CounterDisplay.js?2"></script>
<script src="~/js/HackerNews.js?2"></script>
<script src="~/js/WikipediaAPI.js?2"></script>
<script src="~/js/NewsAPI.js?2"></script>
<script src="~/js/Salary.js?2"></script>
<script src="~/js/AccuWeatherAPI.js?2"></script>
<script src="~/js/newsGenerator.js?2"></script>

<div onclick="CanvasClick()" id="canContainer">
    <canvas id="can" tabindex=0></canvas>
</div>

<div class="container">
    <header>
        @*------------------ Salary and pay -------------------------*@
        <div class="main">
            <table>
                <tr>
                    <td id="date" colspan="4">Monday, 29th August</td>
                </tr>
                <tr id="standard">
                    <td onclick="CanvasClick('today')"></td>
                    @*<td onclick="CanvasClick('week')"></td>*@
                    <td onclick="CanvasClick('cycle')"></td>
                    @*<td onclick="CanvasClick('month')"></td>*@
                    <td onclick="CanvasClick('total')"></td>
                </tr>
                <tr>
                    <th onclick="CanvasClick('today')">today</th>
                    @*<th onclick="CanvasClick('week')">Week</th>*@
                    <th onclick="CanvasClick('cycle')">paycycle</th>
                    @*<th onclick="CanvasClick('month')">Month</th>*@
                    <th onclick="CanvasClick('total')">total</th>
                    <th style="padding: 0;">
                        <div>
                            <div style="line-height: 10px">
                                <input type="checkbox" id="super" onchange="earn()" Checked />
                                <label for="super">super</label>
                                <input type="checkbox" id="tax" onchange="earn()" Checked />
                                <label for="tax">tax</label>
                            </div>
                        </div>
                    <th>
                </tr>
            </table>
        </div>
        @*-------------------------- WEATHER --------------------------------*@
        <div class="weather" id="theWeather">
            @*<h2 style="color: white">Forecast</h2>*@
            <table onclick="toggleWeatherTranslate()">
                <tr id="temp"><td style="min-width: 40px; padding-right: 0; text-align: center;"></td></tr>
                <tr id="rain"><td style="min-width: 40px; padding-right: 0; text-align: center;"><i><</i></td></tr>
                <tr id="weather"><td style="min-width: 40px; padding-right: 0; text-align: center;"></td></tr>
            </table>
        </div>
    </header>

    <div class="main_content">
        @*--------------- Wikipedia ------------------*@
        <div class="blade">
            <div class="wikipedia">
                @*<h2 style="color: white">Wikipedia</h2>*@
                <table id="wikipedia">
                </table>
            </div>
        </div>
        @*------------------- Hacker News Table ------------------*@
        <div class="blade">
            <div class="wikipedia">
                <div style="overflow-x: scroll;overflow-x: hidden;">
                    <table id="news" style="text-align: right;">
                        <tr>
                            <th>news.ycombinator.com</th>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

@*---------------- Page Level JavaScript-----------------*@
<script>
    var interval;
    var running = false;

    window.onload = CanvasClick("total");

    function CanvasClick(target) {
        var can = document.getElementById('can');
        //can.style.opacity == 0 ? can.style.opacity = 1 : can.style.opacity = 0;
        //can.style.display == "" ? can.style.display = "none" : can.style.display = "";
        can.classList.toggle("fullScreen");
        startEarning();
        setElapsedToDisplay(target);
    }

    function startEarning() {
        if (!running) {
            particleAlphabet.init();
            earn();
            getRequest(api_dict.twelve_hour);
            getWikiRequest();
            getNewsRequest();
            //newsAPI();
            GoodNewsMeme();
            running = true;
        }
    }


</script>